<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content %}

    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>
       
        <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
        <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
    


    <h2>Leave your comment!</h2>
    <div id="comments_section">

    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
        {{ comment_form }}
        <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
        </div>
    </form>
    {% else %}
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
    {% endif %}

    {% if comments %}
    <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
    <hr>
    <ul>
        {% for comment1 in comments %}
        <li>           
        <div>
            <span>
            <strong class="text-info">{{ comment1.author }} </strong>
            <small class="text-muted">{{ comment1.date_posted }}</small>
            </span>
            <p>
            {{ comment1.comment|safe }}
            </p>
        </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong class="text-secondary">No comments yet...</strong>
    {% endif %}

    </div>

    {% endblock content %}

    